#icondelete{
    font-size: 22px;
    float: right;
    margin-top: -45px;
    color: red;
}
#icondelete:active{
    font-size: 28px;
}
#userimg{
    margin-right: 10px;
    font-size: 30px;
    float: left;
}